body{
    background-color:rgb(2, 2, 2);
}

#home-section{
    background-image: url(images/about.jpg);
    
}
#home-section header{
    background-color:rgb(1, 2, 0);
}
.text .title{
    font-size: 2.2em;
    padding: 20px;
    text-align: center;
    font-family: binasa;

}
@media (min-width:750px){
    .text .title{
        font-size: 3.7em;
    
    }
}
@media (min-width:990px){
    .text .title{
        font-size: 4.5em;
    
    }
}
@media (min-width:1250px){
    .text .title{
        font-size: 3em;
    
    }
}
span{
    
    color:#ff0;
    
}

.web{
    color:chartreuse;
    font-family: 'Staatliches', cursive;
    font-size: 1.4em;

}
@media (min-width:750px){
    .web{
        font-size: 2em;
    }
}
@media (min-width:990px){
    .web{
        font-size: 2.5em;
    }
}
@media (min-width:1250px){
    .web{
        font-size: 1.8em;
    }
}
/* /////////////////////////////////////////////////////////////////////////////// */
.opaci{
    background-color:black;
    height: 100vh;
    opacity: .8;
    position: absolute;
    width: 100%;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    
}
.success1{
    
    display: block;
    background-color:#fcfcfc;
    background-color:black;
    padding: 10;
    justify-content: space-between;
    width: 85%;
    right: 1;
    left: 1;
    margin: auto;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    position: fixed;
    display: none;
    overflow: hidden;
    border: 2px solid #ff0;
    border-radius: 4px;

}
@media (min-width:750px){
    .success1{
        
        width: 60%;
    }
}
@media (min-width:1250px){
    .success1{
    
        width: 25%;
    }
}

.success1 div{
    padding: 10px;
    
    
}
    
.success1 .slogo{
        color:#82dd55;
        color: #ff0;
        font-size: 3em;
        text-align: center;
    
    }
    @media (min-width:750px){
        .success1 .slogo{
            font-size:4em;
        }
    }
    @media (min-width:1250px){
        .success1 .slogo{
            font-size:3em;
        }
    }
.success1 .sub{
        color: grey;
    }
.success1 .tx{
        color: lightgray;
        text-align: center;
        font-size: 1em;
        flex: 1;
        text-transform: capitalize;
        font-style: italic;
        
    
}
@media (min-width:750px){
    .success1 .tx{
        font-size: 1.5em;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media (min-width:990px){
    .success1 .tx{
        font-size: 1.7em;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media (min-width:1250px){
    .success1 .tx{
        font-size: 1em;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.success1 .cancel{
        text-align: center;
        cursor: pointer;
        
}
.cancel button{
    background-color: #82dd55;
    background: #ff0;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    width: 70%;
    color: black;
    border: 1px solid;
    border-radius:1px;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    
}
@media (min-width:750px){
    .cancel button{
        font-size: 1.9em;
        padding:12px;
        
    }
}
@media (min-width:1250px){
    .cancel button{
        font-size: 1em;
        padding:6px;
        width: 50%;
        
    }
}
    

/* ///////////////////////////////////////////////////////////// */
#about-me .container-abt{
    color: white;
    width: 95%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    padding-left: 10px;
    padding-right:15px;

}
@media (min-width:750px){
    #about-me .container-abt{
        width:80%;
    }
}
@media (min-width:1250px){
    #about-me .container-abt{
        width:70%;
    }
    .flex{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .flex div{
        width: 38%;
    }
}
.ab{

    text-align: center;
    font-size: 2em;
    font-family: binasa;
    padding: 10px;
    color: #ff0;
    
   
}
@media (min-width:750px){
    .ab{
        font-size: 3.5em;
        padding:30px;
    }
}
@media (min-width:990px){
    .ab{
        font-size: 3.8em;
        padding:30px;
    }
}
@media (min-width:1250px){
    .ab{
        font-size: 2.8em;
        padding:30px;
    }
}
.ab-p{
    color: rgb(162, 162, 162);
}
@media (min-width:750px){
    .ab-p{
        
        font-size: 1.5em;
    }
}
@media (min-width:990px){
    .ab-p{
        
        font-size: 1.9em;
    }
}
@media (min-width:1250px){
    .ab-p{
        
        font-size: 1em;
    }
}
.ab-p span{
    color: lightgray;
    font-size: 1em;
    font-weight: 600;
    text-transform: capitalize;
    
}
.ab-s{
    color: #ff0;
    font-family: 'Staatliches', cursive;
    text-align: left;
    padding-left: 0;
    font-size: 1.5em;
    
}
@media (min-width:750px){
    .ab-s{
    
        font-size: 2.8em;
    }
}
@media (min-width:990px){
    .ab-s{
    
        font-size: 3em;
    }
}
@media (min-width:1250px){
    .ab-s{
    
        font-size: 2em;
    }
}
.profile img{
    width: 100%;
    margin-top: 20px;
    margin-bottom:20px;
}

/* //////////////////// */
.my-skills{

    padding: 20px;
    padding-bottom: 5px;
    padding-left: 0;

}
@media (min-width:1250px){
    .my-skills{
        width: 80%;
        margin: auto;
    }
}
.skill{
    font-family: binasa;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 0;
    
}
@media (min-width:750px){
    .skill{
        font-size: 1.9em;
        padding-bottom: 20px;
    }
}
@media (min-width:990px){
    .skill{
        font-size: 2.2em;
        padding-bottom: 20px;
    }
}
@media (min-width:1250px){
    .skill{
        font-size: 1.6em;
        padding-bottom: 20px;
    }
}

.pbar{
    background-color: grey;
    border-radius: .1em;
    margin-bottom: 10px;
    padding: 0;
    height: .1px;
}
@media (min-width:750px){
    .pbar{
        height: 4px;
        margin-bottom: 20px;
    }
}
@media (min-width:990px){
    .pbar{
        height: 4.5px;
        margin-bottom: 20px;
    }
}
@media (min-width:1250px){
    .pbar{
        height: 3.5px;
        margin-bottom: 20px;
    }
}
.progress{
    background-color:#ff0;
    width: 85%;
    text-align: center;
    color: black;
    padding: 1px;
    height: 100%;
    border-radius: .1em;
}
.c{
    width:65% ;
}
.j{
    width: 40%;
}

.load{
    animation: loading 1s linear;
    background-color: #ff0;

}
@keyframes loading{
    0%{
        width: 0%;
    }
}

.icons a{
    color: chartreuse;
}

.contact{
    padding: 10px;

}
.contact .ab{
    font-family: 'Staatliches', cursive;
    
}

.contact form{
    margin: auto;
    width: 100%;
    border: 1px solid gray;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 4px;
    border-image: linear-gradient(0deg,#f0f,#ff0);
    border-image-slice: 1;
    margin-bottom: 20px;
}
@media (min-width:750px){
    .contact form{
       
        width: 80%;
    
    }
}
@media (min-width:1250px){
    .contact form{
       border: none;
        width: 50%;
    
    }
    .contact .ab{
        font-size: 1.9em;
    }
}

.contact input,textarea{
    width: 100%;
    padding: 20px;
    font-size: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #ff0;
    outline: none;
    padding-left: 0;
    padding-left: 0;
    color: rgb(201, 201, 2);
    font-style: italic;
}
@media (min-width:750px){
    .contact input,textarea{
        font-size: 1.5em;
        padding-left: 10px;
    }
}
@media (min-width:990px){
    .contact input,textarea{
        font-size: 2em;
    }
}
@media (min-width:1250px){
    .contact input,textarea{
        font-size: 1em;
    
    }
}

.contact ::placeholder{
    color:grey;
}
.contact textarea{
    font-size: 1.5em;
}

@media (min-width:750px){
    .contact textarea{
        font-size: 2em;
    }
}
@media (min-width:990px){
    .contact textarea{
        font-size: 2.3em;
    }
}
@media (min-width:1250px){
    .contact textarea{
        font-size: 1.5em;
    }
}
.contact .submit{
    margin-top: 20px;
    padding: 10px;
    background: #ff0;
    font-size: 1em;
    font-weight:900;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
}
.contact .submit:hover{
    background-color:#82dd55;
    border: 1px solid #82dd55;
}
@media (min-width:750px){
    .contact .submit{
        padding:20px;
        font-size: 1.6em;
    }
}
@media (min-width:750px){
    .contact .submit{
        padding:15px;
        font-size: 1em;
    }
}
footer i{
    color: #ff0;
}